/*
THIS IS CURSED
do not uncomment
* {
    font-family: "Comic Sans MS" !important;
}
*/

:root {
    --main-black-color: #1b2224;
    --background-primary: var(--main-black-color) !important;
    --background-secondary: var(--main-black-color) !important;
    --background-tertiary: var(--main-black-color) !important;
    --alt-black-color: #0a0a0a;
    --main-darkgray-color: #29353b;
    --alt-darkgray-color: #141a1b;
    --link-color: #16a085;
    --mention-color: #ff73fa;
    --accent-color: #16a085;
    --mention-bg-color: rgba(151, 135, 218, 0.2);
    --jump-to-present-color: rgba(22, 160, 133, 0.95);
    --new-messagesWrapper-color: rgba(22, 160, 133, 0.95);
    --light-hover-color: rgba(35, 35, 35, 0.5);
    --dark-hover-color: rgba(5, 5, 5, 0.5);
    --embed-bg-color: rgba(25, 25, 25, 0.5);
    --send-message-box-color: rgba(80, 80, 80, 0.1);
    --code-font: "PragmataPro", "Noto Sans Mono", "Courier New", monospace;
    --font-display: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    --username-weight: 500;
    --text-weight: 400;
    --text-size: 0.9rem;
}

/* if you know it you know it */
[class*='showTag'] {
  color: inherit !important;
}

[class*='second-sight'] {
  color: var(--text-normal) !important;
}

/* hide nitro tab on home */
[class*="systemPad-"] [class*="channel-"][href*="/store"] {
    display: none !important;
}

/* set space between messages */
.group-spacing-16 [class*="groupStart-"] {
    margin-top: 0.2rem !important;
}

[class*="cozyMessage-"] {
    padding-top: 0.05rem !important;
    padding-bottom: 0.05rem !important;
}

/* fix banners */
/*[class*="container-"] [class*="scrollerWrap-"] [class*="scroller-"] {
    background-color: transparent !important;
}*/

/* fix up mentions */
[class*="bar-"][class*="mention-"] {
    background-color: var(--mention-color) !important;
}

/* New chat bar */
[class*="channelTextArea-"] [class*="scrollableContainer-"] {
    background-color: var(--main-black-color) !important;
}

[class*="channelTextArea-"]
    [class*="scrollableContainer-"]
    [class*="attachWrapper-"] {
    border-right: none !important;
}

/* New channel bar */
[class*="modeSelected-"] [class*="content-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="wrapper-"]:hover [class*="content-"] {
    background-color: var(--light-hover-color) !important;
}

/* New embeds */
[class*="embedFull-"] {
    background-color: var(--embed-bg-color) !important;
}

[class*="embedFull-"] [class*="grid-"] {
    padding: 2px 8px 8px;
}

/* Setting username/text weight and size */
[class*="headerCozyMeta-"] [class*="username-"],
[class*="headerName-"] {
    font-weight: var(--username-weight) !important;
}

[class*="markup-"],
[class*="embedDescription-"],
[class*="textArea-"] {
    font-weight: var(--text-weight) !important;
    font-size: var(--text-weight) !important;
}

/* Gradient after topic https://elixi.re/i/krvrvsnb.png */
.children-19S4PO:after {
    display: none;
}

/* Message margins, makes things more compact */
/*[class*="messageCozy-"] [class*="contentCozy-"] {
    margin-left: 60px !important;
}

[class*="headerCozy-"] [class*="avatar-"] {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

/*[class*="messagesWrapper-"] [class*="containerCozy-"]*/
/*.containerCozy-jafyvG {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}*/

/* cozy-compact hybrid, by Cynthia */
[class*="headerCozy-"] {
    padding-bottom: 0.25em;
}
[class*="headerCozy-"] [class*="avatar-"] {
    margin: 0 !important;
    width: 1.25em;
    height: 1.25em;
}
[class*="headerCozy-"] [class*="avatar-"] {
    margin: 0 !important;
}
[class*="headerCozy-"] [class*="avatar-"] [class*="large-"],
[class*="headerCozy-"] [class*="avatar-"] [class*="wrapper-"],
[class*="autocomplete-"] [class*="wrapper-"] {
    width: 1.25em !important;
    height: 1.25em !important;
    background-size: 100% auto;
    border-radius: 50% !important;
}
[class*="cozyMessage-"] {
    padding-left: 16px !important;
}
[class*="messagesWrapper-"] > [class*="containerCozy-"],
[class*="previewInner-"] > [class*="containerCozy-"] {
    padding: 5px 0;
}
[class*="dividerEnabled-"] {
    display: none;
}
[class*="headerCozy-"] {
    padding-top: 2.25px;
    margin-left: 0px !important;
    padding-left: 1.5em !important;
}
[class*="isMentioned-"] [class*="markup-"] {
    background-color: var(--colorize-rgba-1);
}

[class*="contentCozy-"] > [class*="container-"] > * {
    margin-top: 0;
}
[class*="containerCozy-"],
[class*="contentCozy-"] > [class*="container-"] {
    margin-bottom: 0;
}

[class*="containerCozy-"] > [class*="containerCozy-"] > [class*="container-"] {
    padding: 0;
}

/* Square icons */
/*
.avatar-small,
[class*="avatar-"],
[class*="avatar-"] [class*="image-"],
[class*="replyAvatar-"],
[class*="callAvatar-"],
[class*="callAvatar-"] [class*="speaking-"],
[class*="avatarDefault-"],
[class*="avatarSpeaking-"],
[class*="avatar-"] [class*="inner-"],
[class*="avatar-"] [class*="image-"],
[class*="blobContainer-"] [class*="wrapper-"] [class*="icon-"],
[class*="listItemWrapper-"] [class*="wrapper-"] a {
    border-radius: 5% !important;
}

[class*="avatarMasked-"],
[class*="maskProfile-"],
[class*="mask-"],
[class*="avatar-"] svg[class*="mask-"] > foreignObject,
[class*="avatarWrapper-"] svg[class*="mask-"] > foreignObject,
[class*="avatarHint-"] > foreignObject,
[class*="wrapper-"] svg[class*="mask-"] > foreignObject,
[class*="blobContainer-"] [class*="wrapper-"] foreignObject,
[class*="listItemWrapper-"] [class*="wrapper-"] foreignObject {
    mask: none !important;
    -webkit-mask-image: none !important;
}
*/

/* "Channel notices" such as "Ctrl+K to use QS :3" */
[class*="channelNotices-"]
    [class*="channelNotice-"]
    [class*="message-"]
    [class*="btn-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* notif setting colors */
[class*="radioGroup-"] [style*="color: rgb(114, 137, 218)"] {
    background-color: var(--accent-color) !important;
    border: none !important;
}

[class*="radioGroup-"] [class*="cardPrimaryEditable-"],
[class*="radioGroup-"] [class*="checkbox-"] {
    border: none !important;
}

[class*="radioGroup-"] [class*="checkbox-"] polyline {
    stroke: white !important;
}

/* disable checkboxes on notif settings */
[class*="radioGroup-"] [class*="checkbox-"] {
    display: none !important;
}

/* "you must be a member for x to talk here" */
[class*="spacer-"] form [class*="wrapper-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* reactors modal */
[class*="reactors-"],
[class*="modal-"] [class*="sidebar-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="reactionSelected-"] {
    background-color: var(--light-hover-color) !important;
}

/* header bar for friends */
.container-1r6BKw,
[class*="headerBar-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* actual friends view */
.container-1D34oG {
    background-color: var(--main-black-color) !important;
}

/* friends list hover */
[class*="friendsTable-"] [class*="friendsRow-"]:hover {
    background: var(--light-hover-color) !important;
}

[class*="friendsTable-"]
    [class*="friendsRow-"]
    [class*="friendsColumnActions-"]
    [class*="friendsAction-"] {
    background-color: var(--light-hover-color) !important;
}

/* dropdown menu */
[role="dialog"] [class*="menu-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* main container, fixes a couple pixels */
.container-2lgZY8 {
    background-color: var(--main-black-color) !important;
}

/* chat, fixes a couple pixels */
[class*="chat-"] {
    background-color: var(--main-black-color) !important;
}

/* widen the chatbox */
[class*="chat-"] form {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* body, fixes a couple pixels */
body {
    background-color: var(--main-black-color) !important;
}

/* loading screen */
.container-16j22k {
    background-color: var(--main-black-color) !important;
}

/* sidebar selections on settings */
[class*="side-"] [class*="selected-"] {
    background-color: var(--accent-color) !important;
}

/* Blurple buttons */
[class*="lookFilled-"][class*="colorBrand-"] {
    background-color: var(--accent-color) !important;
}

/* Green buttons */
[class*="lookFilled-"][class*="colorGreen-"] {
    background-color: var(--accent-color) !important;
}

/* Blurple on/off switches */
[class*="valueChecked-"] {
    background-color: var(--accent-color) !important;
}

/* discord button on top left */
[class*="guild-"] [style*="color: rgb(114, 137, 218)"] {
    background-color: var(--accent-color) !important;
}

/* blurple on white */
[class*="lookInverted-"][class*="colorBrand-"] {
    color: var(--accent-color) !important;
}

/* "Playing a game" on profiles */
[class*="headerPlaying-"],
[class*="topSectionPlaying"] {
    background-color: var(--accent-color) !important;
}

/* Discord Nitro thingy in settings */
[class*="side-"] [style*="color: rgb(114, 137, 218)"] {
    color: #b9bbbe !important;
}

[class*="side-"] [style*="color: rgb(114, 137, 218)"]:hover {
    background-color: var(--light-hover-color) !important;
}

/* reactors modal */
[class*="reactors-"],
[class*="modal-"] [class*="sidebar-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="reactionSelected-"] {
    background-color: var(--light-hover-color) !important;
}

/* header bar for friends */
[class*="headerBar-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* actual friends view */
.container-3gCOGc {
    background-color: var(--main-black-color) !important;
}

/* friends list hover */
[class*="friendsTable-"] [class*="friendsRow-"]:hover {
    background: var(--light-hover-color) !important;
}

[class*="friendsTable-"]
    [class*="friendsRow-"]
    [class*="friendsColumnActions-"]
    [class*="friendsAction-"] {
    background-color: var(--light-hover-color) !important;
}

/* dropdown menu */
[role="dialog"] [class*="menu-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* main container, fixes a couple pixels */
.container-2lgZY8 {
    background-color: var(--main-black-color) !important;
}

/* chat, fixes a couple pixels */
[class*="chat-"] {
    background-color: var(--main-black-color) !important;
}

/* widen the chatbox */
[class*="chat-"] form {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* body, fixes a couple pixels */
body {
    background-color: var(--main-black-color) !important;
}

/* loading screen */
.container-16j22k {
    background-color: var(--main-black-color) !important;
}

/* sidebar selections on settings */
[class*="side-"] [class*="itemSelected-"] {
    background-color: var(--accent-color) !important;
}

/* Blurple buttons */
[class*="lookFilled-"][class*="colorBrand-"] {
    background-color: var(--accent-color) !important;
}

/* Green buttons */
[class*="lookFilled-"][class*="colorGreen-"] {
    background-color: var(--accent-color) !important;
}

/* Blurple on/off switches */
[class*="valueChecked-"] {
    background-color: var(--accent-color) !important;
}

/* discord button on top left */
[class*="guild-"] [style*="color: rgb(114, 137, 218)"] {
    background-color: var(--accent-color) !important;
}

/* blurple on white */
[class*="lookInverted-"][class*="colorBrand-"] {
    color: var(--accent-color) !important;
}

/* "Playing a game" on profiles */
[class*="headerPlaying-"],
[class*="topSectionPlaying"] {
    background-color: var(--accent-color) !important;
}

/* Discord Nitro thingy in settings */
[class*="side-"] [style*="color: rgb(114, 137, 218)"] {
    color: #b9bbbe !important;
}

[class*="side-"] [style*="color: rgb(114, 137, 218)"]:hover {
    background-color: var(--light-hover-color) !important;
}

/* reactors modal */
[class*="reactors-"],
[class*="modal-"] [class*="sidebar-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="reactionSelected-"] {
    background-color: var(--light-hover-color) !important;
}

/* header bar for friends */
[class*="headerBar-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* actual friends view */
.container-3gCOGc {
    background-color: var(--main-black-color) !important;
}

/* friends list hover */
[class*="friendsTable-"] [class*="friendsRow-"]:hover {
    background: var(--light-hover-color) !important;
}

[class*="friendsTable-"]
    [class*="friendsRow-"]
    [class*="friendsColumnActions-"]
    [class*="friendsAction-"] {
    background-color: var(--light-hover-color) !important;
}

/* dropdown menu */
[role="dialog"] [class*="menu-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* main container, fixes a couple pixels */
.container-2lgZY8 {
    background-color: var(--main-black-color) !important;
}

/* chat, fixes a couple pixels */
[class*="chat-"] {
    background-color: var(--main-black-color) !important;
}

/* widen the chatbox */
[class*="chat-"] form {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* body, fixes a couple pixels */
body {
    background-color: var(--main-black-color) !important;
}

/* loading screen */
.container-16j22k {
    background-color: var(--main-black-color) !important;
}

/* sidebar selections on settings */
[class*="side-"] [class*="itemSelected-"] {
    background-color: var(--accent-color) !important;
}

/* Blurple buttons */
[class*="lookFilled-"][class*="colorBrand-"] {
    background-color: var(--accent-color) !important;
}

/* Green buttons */
[class*="lookFilled-"][class*="colorGreen-"] {
    background-color: var(--accent-color) !important;
}

/* Blurple on/off switches */
[class*="valueChecked-"] {
    background-color: var(--accent-color) !important;
}

/* discord button on top left */
[class*="guild-"] [style*="color: rgb(114, 137, 218)"] {
    background-color: var(--accent-color) !important;
}

/* blurple on white */
[class*="lookInverted-"][class*="colorBrand-"] {
    color: var(--accent-color) !important;
}

/* "Playing a game" on profiles */
[class*="headerPlaying-"],
[class*="topSectionPlaying"] {
    background-color: var(--accent-color) !important;
}

/* Discord Nitro thingy in settings */
[class*="side-"] [style*="color: rgb(114, 137, 218)"] {
    color: #b9bbbe !important;
}

[class*="side-"] [style*="color: rgb(114, 137, 218)"]:hover {
    background-color: var(--light-hover-color) !important;
}

/* divider between attach button and chat box */
[class*="attachButtonDivider-"] {
    display: none !important;
}

/* Bot tag */
[class*="botTagRegular-"] {
    background-color: var(--mention-color) !important;
}

/* "cards" on settings, these things https://elixi.re/i/rnwghztz.png */
[class*="cardPrimary-"],
[class*="codeRedemptionRedirect-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* connect account buttons */
[class*="accountBtnInner-"] {
    background-color: var(--main-black-color) !important;
    border: none !important;
}

/* set nitro thingy's footer https://elixi.re/i/77erodhv.png */
[class*="details-"] [class*="container-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* delete popup's footer */
[class*="modal-"] [class*="footer-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* Pins and mentions */
[class*="messagesPopoutWrap-"] {
    background-color: var(--main-darkgray-color) !important;
    border: none !important;
    box-shadow: none !important;
}

[class*="messagesPopoutWrap-"] [class*="header-"],
[class*="messagesPopoutWrap-"] [class*="footer-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="messageGroupWrapper-"] {
    background-color: var(--main-darkgray-color) !important;
    border-color: var(--alt-black-color) !important;
}

[class*="messageGroupWrapper-"]:hover [class*="actionButtons-"] {
    box-shadow: none !important;
    background: inherit !important;
}

/* popout user profile */
[class*="userPopout-"] [class*="headerNormal-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="quickMessage-"] {
    background-color: var(--alt-darkgray-color) !important;
    border: none !important;
}

[class*="userPopout-"] [class*="footer-"],
.body-3iLsc4 {
    background-color: var(--alt-darkgray-color) !important;
}

/* full user profile */
.body-3ND3kc,
[class*="topSectionNormal-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="listRow-"]:hover {
    background: var(--light-hover-color) !important;
}

/* Custom link color */
[class*="markup-"] a {
    color: var(--link-color) !important;
}

/* Custom mention color */
[class*="topic-"] [class*="wrapper-"],
[class*="medium-"] [class*="wrapper-"],
[class*="markup-"] [class*="wrapper-"] {
    color: var(--mention-color) !important;
    background-color: var(--mention-bg-color) !important;
}

[class*="topic-"] [class*="wrapperHover-"]:hover,
[class*="medium-"] [class*="wrapperHover-"]:hover,
[class*="markup-"] [class*="wrapperHover-"]:hover {
    color: #fff !important;
    background-color: var(--mention-color) !important;
}

[class*="isMentioned-"] {
    background-color: var(--mention-bg-color) !important;
}

[class*="isMentionedCozy-"]:after {
    background: var(--mention-bg-color) !important;
    border-left-color: var(--mention-color) !important;
}

/* Blocked messages */
[class*="messageGroupBlocked-"],
[class*="messageGroupBlockedBtn-"] {
    background: var(--alt-darkgray-color) !important;
    border-color: var(--main-black-color) !important;
}

[class*="messageGroupBlockedBtn-"]:hover {
    background: var(--light-hover-color) !important;
}

/* Search results */
[class*="searchResultsWrap-"],
[class*="searchResultsWrap-"] [class*="searchHeader-"],
[class*="channelSeparator-"] [class*="channelName-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="searchResult-"]:before,
[class*="searchResult-"]:after {
    background: none !important;
}

[class*="searchResult-"] [class*="hit-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="searchResult-"] [class*="searchResultMessage-"][class*="hit-"] {
    border: none !important;
    box-shadow: none !important;
}

[class*="searchResult-"]
    [class*="searchResultMessage-"]
    [class*="messageGroupCozy-"] {
    margin-left: 0px !important;
}

/* search highlight color */
.highlight {
    background: var(--mention-color) !important;
}

/* search filters */
[class*="searchFilter-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* "Jump" button on search results */
[class*="jumpButton-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* embeds */
[class*="embedInner-"] {
    background-color: var(--embed-bg-color) !important;
    border: none !important;
}

/* emoji picker */
[class*="emojiPicker-"],
[class*="emojiPicker-"] [class*="searchBar-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* Background of hovered emoji on picker */
[class*="emojiItem-"][class*="selected-"] {
    background-color: var(--light-hover-color) !important;
}

/* search bar on emoji picker */
[class*="emojiPicker-"] [class*="searchBar-"] [class*="searchBarInner-"] {
    background: inherit !important;
}

/* emoji picker scrollbar */
div[class^="diversitySelector"]
    > div[class^="popout-"]::-webkit-scrollbar-track,
div[class^="diversitySelector"]
    > div[class^="popout-"]::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: none !important;
}

div[class^="diversitySelector"]
    > div[class^="popout-"]::-webkit-scrollbar-thumb {
    background-color: var(--main-black-color) !important;
    border: none !important;
}

/* gradient on search complete thing */
.option-96V44q:after {
    /* TODO: use a selector here */
    background: none !important;
}

/* delete message modal */
[class*="modal-"] [class*="inner-"] [class*="modal-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="modal-"]
    [class*="scrollerWrap-"]
    [class*="scroller-"]
    [class*="message-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* left bar */
[class*="scrollerWrap-"] [class*="scroller-"] {
    background-color: var(--main-black-color) !important;
}

/* settings */
[class*="standardSidebarView-"] [class*="sidebarRegion-"] {
    background-color: var(--main-black-color) !important;
}

[class*="standardSidebarView-"] [class*="contentRegion-"] {
    background-color: var(--main-black-color) !important;
}

/* emoji picker */
[class*="emojiPicker-"] [class*="header-"],
[class*="emojiPicker-"] [class*="scroller-"] [class*="stickyHeader-"] {
    background-color: var(--alt-darkgray-color) !important;
}

/* message dropdown */
[class*="popout-"] [class*="container-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="popout-"] [class*="container-"] [class*="item-"]:hover {
    background-color: var(--dark-hover-color) !important;
}

/* guild icon hover tooltip */
/*.tooltip.tooltip-black {
    background-color: var(--main-darkgray-color) !important;
}*/

/* call screen
  [class*="video-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  */

/* hover on friends on friends screen */
#friends .friends-table .friends-row:hover {
    background-color: var(--light-hover-color) !important;
}

/* hover on buttons on friends screen */
#friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: var(--light-hover-color) !important;
}

/* server members, server invites, server bans */
[class*="member-"]::before,
[class*="inviteSettingsInviteRow-"]::before,
[class*="guild-settings-banned-user"]::before {
    background-color: var(--main-darkgray-color) !important;
    border-color: var(--main-black-color) !important;
}

/* hover on settings dropdown */
.popoutbottom [class*="item-"]:hover {
    background-color: var(--dark-hover-color) !important;
}

/* role add autocomplete popout */
#autocomplete-popout .autocomplete-header-background {
    background-color: var(--main-black-color) !important;
}

#autocomplete-popout .row {
    background: var(--main-black-color) !important;
}

#autocomplete-popout .row.selected {
    background: var(--main-darkgray-color) !important;
}

/* online/away/dnd/invisible menu */
.popouttop-left [class*="menu-"] {
    background-color: var(--main-darkgray-color) !important;
}

.popouttop-left [class*="menu-"] [class*="item-"]:hover {
    background-color: var(--dark-hover-color) !important;
}

/* Reduce username size by 10% */
[class*="headerCozyMeta-"] span [class*="username-"] {
    font-size: 0.9rem !important;
}

/* "an adventure begins" */
[class*="channelNotice-"] {
    background-color: var(--main-black-color) !important;
}

/* hover on quick invite */
[class*="inviteRow-"]:hover {
    background-color: var(--light-hover-color) !important;
}

/* hover on friends on "Add friends to DM" */
[class*="friendSelected-"] {
    background-color: var(--light-hover-color) !important;
}

/* main discord bg, fixes a couple pixels */
/*[class*="layer-"],*/ /* disabled due to tooltip ghosting, be more specific!!!!!! -- cyn */
[class*="layers-"],
[class*="appMount-"] {
    background: var(--main-black-color) !important;
    background-color: var(--main-black-color) !important;
}

/* top of chatbox */
[class*="channelTextArea-"] {
    border-top: none !important;
}

/* left guild bar */
.wrapper-1Rf91z,
[class*="guildsWrapper-"] {
    background-color: var(--main-black-color) !important;
}

/* bar behind vc people */
[class*="app-"] [class*="layer-"] [class*="videoCenter-"] [class*="wrapper-"] {
    background-color: inherit !important;
}

/* channel bar */
[class*="sidebar-"] [class*="container-"]:not([class*="unread"]) {
    background-color: var(--main-black-color) !important;
}

/* part behind channel bar */
[class*="content-"] [class*="panels-"] {
    background-color: var(--main-black-color) !important;
}

/* search bar over dms */
.search .search-bar {
    background-color: var(--main-black-color) !important;
}

/* search and dms userlist background */
[class*="privateChannels-"],
[class*="privateChannels-"] [class*="searchBar-"],
.friends-table-header,
#friends,
[class*="channels-"],
#friends [class*="headerBar-"],
.friends-table [class*="scrollerThemed-"] {
    background-color: var(--main-black-color) !important;
}

/* search bar */
[class*="header-"] .search-bar,
.search-bar-inner {
    background-color: var(--alt-darkgray-color) !important;
}

/* title bar on guild */
[class*="titleWrapper-"] [class*="title-"],
[class*="chat-"] [class*="title-"] {
    background-color: var(--main-black-color) !important;
}

/* code block changes */
[class*="markup-"] pre {
    border: none !important;
    background: none !important;
}

code {
    background-color: var(--main-darkgray-color) !important;
    font-family: var(--code-font);
    font-variant-ligatures: none;
}

/* user hover on members bar */
[class*="member-"].popout-open [class*="content-"],
[class*="member-"].popout-open:hover [class*="content-"],
[class*="member-"]:hover [class*="content-"] {
    background-color: var(--light-hover-color) !important;
}

/* dark msg background */
[class*="messagesWrapper-"] {
    background-color: var(--main-black-color) !important;
}

/* ~message box */
form [class*="typing-"],
  [class|="chat-"] :last-child,
  [class*="chat-"] form,
  [class*="channelTextArea-"],
  [class*="channelTextArea-"] [class*="inner-"],
  .content-yTz4x3  /* Couldn't find a working selector here */
 {
    background-color: var(--main-black-color) !important;
}

/* hide gift + gif button */
[class*="channelTextArea-"] [class*="inner-"] [class*="buttonWrapper-"] {
    display: none !important;
}

/* message right click */
[class*="contextMenu-"] {
    background-color: var(--main-darkgray-color) !important;
}

/* "No game detected" */
.user-settings-games .not-detected {
    background-color: var(--main-darkgray-color) !important;
}

/* nitro classic banner */
[class*="tier1Banner-"] {
    background-color: var(--main-darkgray-color) !important;
}

/* billing info */
[class*="paymentSourceRow-"] button {
    background-color: var(--main-darkgray-color) !important;
}

[class*="paymentPane-"],
[class*="payment-"],
[class*="paymentPane-"] [class*="paginator-"] [class*="pageActions-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="expandedInfo-"] {
    background-color: var(--alt-black-color) !important;
}

[class*="paymentRow-"] {
    border-bottom: 1px solid var(--main-black-color) !important;
}

/* emoji autocomplete */
[class*="autocomplete-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="selectorSelected-"] {
    background-color: var(--light-hover-color) !important;
}

/* clyde */
[class*="isLocalBot-"] {
    background-image: linear-gradient(
        90deg,
        var(--alt-black-color) 80%,
        var(--alt-black-color)
    ) !important;
}

/* hide username and discrim on left corner */
[class*="sidebar-"] [class*="container-"] [class*="nameTag-"] {
    display: collapse !important;
}

/* upload modal */
[class*="uploadModal-"] [class*="inner-"] {
    border: 2px dashed #555555;
}

[class*="uploadModal-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="uploadModal-"] [class*="footer-"] .button {
    background-color: var(--main-black-color) !important;
}

[class*="channelTextAreaUpload-"] [class*="inner-"] {
    background-color: var(--send-message-box-color) !important;
}

/* send message box */
#channel-text-area-wrapper [class*="channelTextArea-"] [class*="inner-"] {
    background-color: var(--send-message-box-color) !important;
}

/* dimmer on search results during diversity selector */
[class*="dimmer-"] [class*="visible-"] {
    background-color: hsla(0, 0%, 0%, 0.6) !important;
}

/* diversity selector itself */
[class*="diversitySelector-"] [class*="popout-"] {
    background: var(--main-darkgray-color) !important;
    border: 1px solid var(--main-black-color) !important;
}

/* keyboard shortcuts */
[class*="keyboardShortcutsModal-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="keybindShortcut-"] span {
    background-color: var(--alt-darkgray-color) !important;
    box-shadow: inset 0 -4px 0 rgba(20, 19, 22, 0.6) !important;
}

/* quick switcher (qs) */
[class*="quickswitcher-"] {
    background-color: var(--main-black-color) !important;
}

/* qs input */
[class*="quickswitcher-"] [class*="input-"] {
    background-color: var(--main-darkgray-color) !important;
}

/* qs selected/hovered */
[class*="resultFocused-"] {
    background-color: var(--light-hover-color) !important;
}

/* user notif background */
.avatar-small a {
    background-color: var(--main-darkgray-color) !important;
}

/* members bar on right side */
[class*="members-"] {
    background-color: var(--main-black-color) !important;
}

/* PM hover/selected colors */
[class*="channel-"][class*="selected-"] a, /* currently active */
[class*="selected-"] [class*="layout-"], /* currently active */
  [class*="channel-"]:hover a, /* hovered */
  [class*="selectedLink-"],
  .channel:hover a,
  [class*="contentHoveredText-"],
  [class*="contentHoveredVoice-"],
  [class*="contentSelectedText-"],
  [class*="contentSelectedVoice-"] {
    background-color: var(--light-hover-color) !important;
}

/* you're viewing older messages bar */
[class*="jumpToPresentBar-"] {
    background-color: var(--jump-to-present-color) !important;
}

/* load more messages button */
[class*="hasMore-"] button {
    background-color: var(--main-black-color) !important;
    border: 1px solid var(--main-darkgray-color) !important;
}

/* "x messages since y" bar */
[class*="newMessagesBar-"] {
    background-color: var(--new-messagesWrapper-color) !important;
}

/* scrollbar */
.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
[class^="messagesWrapper-"] .scroller-wrap ::-webkit-scrollbar-track-piece,
[class*="scroller"]::-webkit-scrollbar-track,
[class*="scroller"]::-webkit-scrollbar-track-piece,
[class*="scroller"]::-webkit-scrollbar-thumb,
[class*="scroller"]::-webkit-scrollbar-track,
[class*="scroller"]::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: none !important;
}

[class*="scroller"]::-webkit-scrollbar-thumb {
    background-color: var(--alt-darkgray-color) !important;
    border: none !important;
    /*
      box-sizing: border-box;
      border: 1px solid var(--main-darkgray-color) !important;
      */
}

[class*="scroller-"] {
    /* padding-bottom: 0px !important; */
}

/* gif button */
[class*="pickerButtons-"] [class*="buttonWrapper-"] {
    display: none !important;
}

/* ddr arrows on keyboard shortcuts modal, which are very ugly imo */
[class*="ddrArrows-"] {
    display: none !important;
}

/* Hide social links */
[class*="socialLinks-"] {
    display: none !important;
}

/* windows title bar, added by Cynthia */
[class*="appMount-"] {
    background-color: var(--main-black-color) !important;
}

[class*="wordmark-"] {
    display: none !important;
}
[class*="titleBar-"] {
    margin-top: 0;
}
[class*="typeWindows-"] {
    background: #0f0f0f !important;
    height: 4px;
}
[class*="winButton-"] {
    margin-top: 19px;
    margin-right: 5px;
    opacity: 0.3;
}
[class*="winButton-"]:hover {
    opacity: 1;
}

/*.platform-win [class*="titleWrapper-"],*/
.platform-win [class*="headerBar-"],
.platform-win [class^="chat-"] > [class^="title-"],
.platform-win [class*="activityFeed-"] > [class*="container-"],
.platform-win [class^="libraryHeader-"],
.platform-win
    [class*="spacer-"]
    > [class*="container-"]
    > [class*="container-"],
.platform-win
    [class^="base-"]
    > [class^="content-"]
    > [class^="container-"]
    > [class^="container-"] {
    padding-right: 100px;
}
.chat [class*="headerBar-"],
.chat [class*="title-"],
.chat [class*="titleCall-"] {
    -webkit-app-region: drag;
}

[class*="winButtonClose-"] svg,
[class*="winButtonMinMax-"] svg {
    display: none;
}
[class*="winButtonMinMax-"]:nth-child(4) {
    background-color: #fff;
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTkgMTl2LTJIN3YyaDEyeiIvPjxwYXRoIGQ9Ik0xIDI1aDI0VjFIMXYyNHoiLz48L2c+PC9zdmc+")
        no-repeat;
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTkgMTl2LTJIN3YyaDEyeiIvPjxwYXRoIGQ9Ik0xIDI1aDI0VjFIMXYyNHoiLz48L2c+PC9zdmc+")
        no-repeat;
    background-image: none !important;
}
[class*="winButtonMinMax-"]:nth-child(3) {
    background-color: #fff;
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMSAxaDI0djI0SDFWMXoiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNOCAxM0g2djdoN3YtMkg4di01em0tMiAwaDJWOGg1VjZINnY3em03IDV2Mmg3di03aC0ydjVoLTV6bTAtMTJ2Mmg1djVoMlY2aC03eiIvPjwvZz48L3N2Zz4=")
        no-repeat;
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMSAxaDI0djI0SDFWMXoiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNOCAxM0g2djdoN3YtMkg4di01em0tMiAwaDJWOGg1VjZINnY3em03IDV2Mmg3di03aC0ydjVoLTV6bTAtMTJ2Mmg1djVoMlY2aC03eiIvPjwvZz48L3N2Zz4=")
        no-repeat;
    background-image: none !important;
}
[class*="winButtonClose-"] {
    background-color: #fff;
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMSAxaDI0djI0SDFWMXoiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMjAgNy40MUwxOC41OSA2IDEzIDExLjU5IDcuNDEgNiA2IDcuNDEgMTEuNTkgMTMgNiAxOC41OSA3LjQxIDIwIDEzIDE0LjQxIDE4LjU5IDIwIDIwIDE4LjU5IDE0LjQxIDEzIDIwIDcuNDF6Ii8+PC9nPjwvc3ZnPg==")
        no-repeat;
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMSAxaDI0djI0SDFWMXoiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMjAgNy40MUwxOC41OSA2IDEzIDExLjU5IDcuNDEgNiA2IDcuNDEgMTEuNTkgMTMgNiAxOC41OSA3LjQxIDIwIDEzIDE0LjQxIDE4LjU5IDIwIDIwIDE4LjU5IDE0LjQxIDEzIDIwIDcuNDF6Ii8+PC9nPjwvc3ZnPg==")
        no-repeat;
    background-image: none !important;
}

[class*="scrollbar-"] {
    background-color: var(--main-black-color) !important;
}

[class*="barFill-"],
[class*="bar-"] {
    background-color: transparent !important;
}

[class*="track-"] {
    background-color: var(--main-darkgray-color) !important;
    border: 3px solid var(--main-black-color) !important;
}

[class*="thumb-"] {
    border: 3px solid var(--main-black-color) !important;
}

[class*="pad-"] {
    background-color: var(--main-black-color) !important;
}

[class*="videoHeight-"] [class*="video-"] {
    background-color: var(--main-black-color) !important;
}

/* 2020 chat redesign fixes, contributed by Cynthia */
[class*="messagesWrapper-"]
    [class^="message-"]:not([class*="systemMessage-"]):not([class*="compact-"]),
[class^="messageGroupCozy-"],
[class^="cozy-"],
[class*="messagesWrapper-"]
    > [class^="container-"]:not([class*="systemMessage-"]):not([class*="compact-"]) {
    padding: 0 !important;
    padding-left: 8px !important;
}

[class*="messagesWrapper-"]
    [class^="message-"][class*="systemMessage-"]
    > [class^="container-"],
[class*="messagesWrapper-"]
    [class^="message-"][class*="systemMessage-"]
    > [class^="contents-"]
    [class^="markup-"] {
    padding-left: 32px !important;
}

[class*="messagesWrapper-"]
    [class^="message-"][class*="systemMessage-"]
    [class^="iconContainer-"] {
    margin-right: 0;
    width: 24px;
}

[class*="messagesWrapper-"] [class^="message-"] [class^="header-"],
[class*="messagesWrapper-"] > [class^="container-"] [class^="header-"],
[class^="cozy-"] [class^="header-"] {
    padding-left: 0 !important;
    margin-left: 23px;
    padding-bottom: 0 !important;
}

[class^="messageGroupCozy-"] [class^="header-"],
[class*="messagesWrapper-"]
    [class^="wrapper-"]
    [class^="contents-"]
    [class^="header-"] {
    padding-left: 0 !important;
    margin-left: 24px;
    padding-bottom: 0 !important;
}

[class*="messagesWrapper-"] [class^="message-"] [class^="header-"] [class*="avatar-"],
[class^="messageGroupCozy-"] [class^="header-"] [class*="avatar-"],
[class*="messagesWrapper-"]
    > [class^="container-"]
    [class^="header-"]
    [class*="avatar-"] {
    width: 20px;
    height: 20px;
    left: -22px;
    top: -1px;
}

[class*="messagesWrapper-"] [class^="message-"] [class^="contents-"],
[class*="messagesWrapper-"] [class^="wrapper-"] [class^="contents-"] {
    margin-left: 0;
}

[class*="messagesWrapper-"]
    [class^="message-"]:not([class*="hasReply"])
    [class^="contents-"]
    [class*="avatar-"],
[class*="messagesWrapper-"]
    [class^="wrapper-"]
    [class^="contents-"]
    [class*="avatar-"] {
    width: 20px;
    height: 20px;
    left: 8px;
    top: -1px;
}
[class*="messagesWrapper-"]
    [class^="message-"]
    [class^="contents-"]
    [class*="avatar-"] {
    width: 20px;
    height: 20px;
    left: 8px;
    top: 22px;
}
[class*="repliedMessage-"] {
    left: 11px;
}
[class*="repliedMessage-"]:before {
    left: -10px;
}

[class*="hasThread-"] [class*="messageContent-"] {
    left: 23px;
}
[class*="hasThread-"]:after {
    left: 17px !important;
    top: 30px !important;
    width: 10px !important;
}
[class*="hasThread-"] > [class*="container-"] {
    left: 23px !important;
}

[class^="messageGroupCozy-"] [class^="contents-"] [class*="avatar-"] {
    width: 20px;
    height: 20px;
    left: 8px;
    top: 1px;
}

[class^="cozy-"] [class^="header-"] [class*="avatar-"] {
    width: 20px;
    height: 20px;
    left: -38px;
    top: -1px;
}

[class*="messagesWrapper-"] [class^="wrapper-"] {
    padding-left: 8px;
}

[class*="messagesWrapper-"] [class^="message-"] [class^="container-"],
[class^="messageGroupCozy-"] [class^="container-"],
[class^="cozy-"] [class^="container-"],
[class*="messagesWrapper-"] [class^="message-"] [class^="contents-"] {
    padding: 0;
}

[class*="messagesWrapper-"] [class^="message-"] [class*="timestampCozyAlt-"],
[class^="messageGroupCozy-"] [class^="timestampCozyAlt-"],
[class^="cozy-"] [class^="timestampCozyAlt-"],
[class*="messagesWrapper-"] > [class^="container-"] [class*="timestampCozyAlt-"],
[class^="message-"]:not([class*="compact-"])
    [class^="contents-"]
    [class*="timestampVisibleOnHover-"] {
    display: none;
}

[class*="mentioned-"]:before {
    background-color: var(--colorize);
    left: 4px;
}

[class^="nowPlayingColumn-"] {
    display: none;
}

[class^="buttonContainer-"]
    [class^="emojiButton-"][aria-label^="Add Reaction:"],
[class^="buttonContainer-"] [class^="emojiSeparator-"] {
    display: none;
}

[class^="buttonContainer-"] [class^="buttons-"] [class^="wrapper-"] {
    padding-left: 0;
}

[class*="messagesWrapper-"] [class^="divider-"] {
    margin: 4px;
    height: 8px;
}

[class*="messagesWrapper-"] [class*="groupStart-"] {
    margin-top: 8px;
}

[class*="divider-"] [class*="content-"] {
    text-transform: uppercase;
    margin-top: -7px;
}
